.calculator-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 300px;
    background-color: rgb(119, 67, 0);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(254, 255, 169);
}

.display{
    display: flex;
    height: 120px;
    width: 280px;
    border: 1px solid black;
    margin-top: 10px;
    border: 3px solid rgb(255, 118, 68);
}


.buttons{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 20px;
}

button{
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: rgb(255, 118, 68);
    border: 0px;
    font-size: 26px;
    color: rgb(254, 255, 169);;
}

#equals{
    display: flex;
    width: 130px;
    border-radius: 25px;
}

#zero-point-equals{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
}